
.headline {
  margin: 1em;
  padding-left: 1em;
  font-family: 'Archivo', sans-serif;
}

.base-wrapper {
  margin: .5em;
  padding: .5em;
}

.base-headline {
  margin: .7em;
  padding: .5em;
  font-family: 'Archivo', sans-serif;
  font-size: large;
}

.base-wrapper > div {
  padding-left: 2.5em;
}

.pair-wrapper {
  margin: .5em;
  padding: .5em;
}

.pair-wrapper > div {
  padding-left: 2.5em;
}

.pair-headline {
  margin-left: .5em;
  padding: .5em;
  font-family: 'Archivo', sans-serif;
  font-size: large;
}

.pair-form {
  margin-left: 3em;
  padding: .5em;
}

.pair-form > label {
  margin-right: 1em;
}

.chart-wrapper {
  margin: .5em;
  padding: .5em;
}

.chart-headline {
  font-family: 'Archivo', sans-serif;
  font-size: large;
}

.swap-button {
  margin: 1em 0em 1em 3.2em;
  padding: .5em;
}

.quantity-input {
  width: 90px;
}

.custom-input {
  margin-left: -1em;
  width: 10ch;
  margin-bottom: .4em;
}

.currency-dropdown {
  margin-left: 1em;
  padding-bottom: 1em;
}

.currency-dropdown select {
  padding: 8px 12px; 
  border-radius: 8px;
}

.list-wrapper {
  list-style-type: none;
}

.list-wrapper > li {
  padding: .5em;
  width: 20em;
  border-bottom: dashed green;
}

.news-wrapper {
  margin: .5em;
  padding: .5em;
}

.news-title {
  font-family: 'Archivo', sans-serif;
  padding-left: .5em;
  margin-top: .5em;
}

.single-headline {
  padding: .5em;
  border-bottom: dashed green;
  list-style-type: none;
}

.single-headline:last-child {
  border-bottom: none;
}

.link-headline {
  text-decoration: none;
}

.single-snippet {
  padding: .5em;
}

.list-wrapper li {
  list-style-type: none;
  border-bottom: dashed green;
  padding: .5em;
}

.footer-wrapper {
  margin-top: 1em;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper > div {
  text-align: center;
  margin-bottom: .8em;
}

.footer-wrapper > div > a {
  padding: .5em;
  text-decoration: none;
  color: black;
}

